
//--- IMPORT ---------------------------------//
@import "hexi-flexi-grid";


//--- TEMPLATE -------------------------------//
.hexContainer-1 {
//--- SETTINGS -------------- VALUES ---------//
  $gridWidth:   auto;       // 'auto',(px,pt,r/em,vw/h)
  $gridHeight:  80vh;       // 'auto',(px,pt,r/em,vw/h)
  $columnCount: 3;          // 'auto',(number)
  $rowCount:    4;          // 'auto',(number)
  $hexCount:    auto;       // 'auto',(number)
  $layout:      row;        // 'row','column','strict'
  $gridOrient:  vertical;   // 'vertical','horizontal'
  $crop:        none;       // 'none','crop'
  $cropFactor:  1.22;       // (number)
  $hexContent:  auto;       // 'auto','center'
  $hexSize:     auto;       // 'auto',(px,pt,r/em,vw/h)
  $hexMargin:   0.3rem;     // (px,pt,r/em,vw/h)
  $hexShape:    circle;     // 'hexagon','circle'
  $hexColor:    none;       // hexcode,rgb/a,named
//--- IMAGES ---------------------------------//
  $images:
    'hex-images/image-1.jpg'
    'hex-images/image-2.jpg'
    'hex-images/image-3.jpg'
    'hex-images/image-4.jpg'
    'hex-images/image-5.jpg'
    'hex-images/image-6.jpg'
    'hex-images/image-7.jpg'
    'hex-images/image-8.jpg'
    'hex-images/image-9.jpg'
    'hex-images/image-10.jpg'
    'hex-images/image-11.jpg'
    'hex-images/image-12.jpg'
  ;
//--- BREAKPOINTS --- COLUMNS ---- WIDTH -----//
  $smlBreakpoint:    $columnCount 480px;
  $medBreakpoint:    6            720px;
  $lrgBreakpoint:    9            960px;
//--- MIXINS ---------------------------------//
  @include hexContainer($gridWidth,$gridHeight,
    $gridOrient,$rowCount,$columnCount);
  .hexCrop {@include hexCrop($crop,$cropFactor)}
  .hexGrid {@include hexGrid($gridWidth,$gridHeight,
    $gridOrient,$columnCount, $images,$rowCount,$layout,
    $hexContent,$hexShape,$hexColor,$hexMargin,$hexCount,$hexSize);
  @include smlBreakpoint(nth($smlBreakpoint, 1), nth($smlBreakpoint, 2));
  @include medBreakpoint(nth($medBreakpoint, 1), nth($medBreakpoint, 2));
  @include lrgBreakpoint(nth($lrgBreakpoint, 1), nth($lrgBreakpoint, 2))}
//--- CUSTOM STYLES --------------------------//
  margin: 0 auto;

//--------------------------------------------//
}


body {margin: 0;}
h1 {
  height: 10vh;
  line-height: 10vh;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}
